			/*layout grid*/
			body {
				height:100%;
				width:100%;
				margin:0;
				padding:0;
				overflow:hidden;
			}
			.container {
				display: flex;
				flex-direction:row;
				flex-wrap:wrap;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				justify-content: center;
				align-items: center;
			}
			.wrapper-left {
				flex:1;
				overflow:hidden;
				width:100%;
				height:100%;
			}
			.wrapper-right {
				flex:1;
				overflow-y:hidden;
				width:100%;
				height:100%;
			}
			.title-container {
				position: relative;
				z-index:100;
			}
			.image-container{
				position:relative;
				width:100%;
				height:100vh;
				max-height:100vh;
/*				display:grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr 1fr;*/
			}
			.board-wrapper{
				margin:auto;
				position:relative;
				height:100%;
				overflow-y:auto;
				margin:25px 50px 25px 40px;
			}
			.text-full{
				height:100%;
				position:absolute;
    			z-index:102;
			}

			/*responsive layout from horizontal to vertical*/
			@media screen 
  				and (min-width: 0px) 
 				and (max-width: 800px) {
					.container{
						flex-direction:column;
					}
					.image-container{
						width:100%;
						display:grid;
						grid-template-columns: 1fr 1fr;
						grid-template-rows: 1fr 1fr 1fr;
					}
			}

			/*header*/
			.title-top{
				position: absolute;
  				top: 1em;
  				left: 50%;
  				transform: translate(-50%, -50%);
				text-align: center;
			}
			.text-indent-container{
				position:relative;
			}

			.text-indent{
				position:absolute;
				left:-1.9em;
				top:1em;
			}

			.text-no-indent{
				position:absolute;
				left:0;
				top:1em;
			}
			
			.title-date{
				position: absolute;
  				top: 5em;
  				left: auto;
  				right: 3em;
				text-align: center;
			}

			/*text "summer school"*/
			.subtitle-top {
				position: absolute;
				top:4em;
				left:5%;
  				text-align:left;
			}

			.subtitle-top-2 {
				position: absolute;
				top:49vh;
				right:65%;
  				text-align:center;
			}

			/*image links in the text in the left block*/
			.hover-link{
				position: relative;
				display:inline-block;
				cursor:pointer;
			}

			/*svg graphics*/
			.svg-container{
				position:relative;
				/*z-index: 99;*/
				max-width:100%;
				max-height:100%;/*
				overflow: hidden;*/
			}
			svg.lines{
				/*margin:0;
				left:0;
				top:0;*/
				position:absolute;
				width:100%;
				height:100vh;
				/*height:100vh;
				width:100vw;*/
				/*overflow:hidden;*/
			}
			.horizon-line{
				color:rgb(51,51,255);
				stroke-width:2;
				fill:none;
			}

			/*placed images*/
			.image-place{
				position:absolute;
				top:0;
				left:0;
				background-size: cover;
			}
			.symbol{
				background-size: 50%;
				background-repeat:no-repeat;
				z-index:101;
			}
			.image-vertical{
				width:150px;
				height:260px;
			}

			.image-horizontal{
				width:260px;
				height:150px;
			}
			
			/*image styling*/
			.image-blue{
				filter: invert(17%) sepia(93%) saturate(5194%) hue-rotate(243deg) brightness(98%) contrast(106%);
			}

			/*show animation*/
			.image-place.show{
				visibility: visible;
				-webkit-animation: fadeIn 0.5s;
				animation: fadeIn 0.5s;
				/*transition: opacity 0.4s ease-out;*/
			}
			@-webkit-keyframes fadeIn {
  				from {opacity: 0;}
  				to {opacity: 1;}
			}

			@keyframes fadeIn {
				from {opacity: 0;}
			  	to {opacity:1 ;}
			}

			/*placed image parameters*/
			.symbol-1{
				top:40%;
				left:2%;
				background-image: url("https://ancient-brushlands-72950.herokuapp.com/img/map/03kirha2.png");
			}
			.symbol-2{
				top:86%;
				left:42%;
				background-image: url("https://ancient-brushlands-72950.herokuapp.com/img/map/07pine.png");
			}
			.symbol-3{
				top:25%;
				left:82%;
				background-image: url("https://ancient-brushlands-72950.herokuapp.com/img/map/10pustyr.png");
			}
			.symbol-4{
				top:2%;
				left:50%;
				background-image: url("https://ancient-brushlands-72950.herokuapp.com/img/map/11ferry.png");
			}
			.image-1{
				top:55%;
				left:18%;
				clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 99%, 0% 66%, 24% 66%, 23% 35%, 49% 35%);
				background-image: url("https://ancient-brushlands-72950.herokuapp.com/img/eltsin-1B.jpg");
			}
			/*.image-2{
				top:70%;
				left:90%;
				clip-path: polygon(23% 20%, 0 20%, 0 0, 53% 0, 53% 38%, 100% 38%, 100% 85%, 100% 100%, 23% 100%);
				background-image: url("img/kant2.jpg");
			}*/
			.image-3{
				top:5em;
				left:auto;
				right:-5%;
				clip-path: polygon(0% 0%, 100% 0%, 100% 62%, 67% 41%, 67% 99%, 0 100%);
				background-image: url("https://ancient-brushlands-72950.herokuapp.com/img/office.jpg");
			}
			/*.image-4{
				top:5%;
				left:63%;
				background-image: url("img/car.jpg");
			}*/
			/*.image-5{
				top:51%;
				left:32%;
				clip-path: polygon(20% 63%, 20% 0, 70% 0, 70% 100%, 0 100%, 0 63%);
				background-image: url("img/rings.jpg");
			}*/
			/*.image-6{
				top:15%;
				left:90%;
				clip-path: polygon(20% 63%, 20% 0, 70% 0, 70% 100%, 0 100%, 0 63%);
				background-image: url("img/mashina.jpg");
			}*/
			/*.image-7{
				top:88%;
				left:64%;
				clip-path: polygon(20% 63%, 20% 0, 70% 0, 70% 100%, 0 100%, 0 63%);
				background-image: url("img/200gvard-2.jpg");
			}*/
			/*.image-8{
				top:26%;
				left:18%;
				clip-path: polygon(20% 63%, 20% 0, 70% 0, 70% 100%, 0 100%, 0 63%);
				background-image: url("img/200gvard-1.jpg");
			}*/
			/*.image-9{
				top:76%;
				left:30%;
				clip-path: polygon(20% 63%, 20% 0, 70% 0, 70% 100%, 0 100%, 0 63%);
				background-image: url("img/kant-1.jpg");
			}*/
			/*.image-10{
				top:42%;
				left:7%;
				clip-path: polygon(20% 63%, 20% 0, 70% 0, 70% 100%, 0 100%, 0 63%);
				background-image: url("img/eltsin-1B.jpg");
			}*/

			/*text styles*/
			.font-body{
				text-align:left;
				font-size: 30px;
				line-height: 1.4;
				font-family: 'Helvetica, Arial', sans-serif;
			}
			.font-body-small{
				font-size:12px;
			}
			.font-heading{
				/*font-size:90px;*/
				font-size:4em;
				text-transform:uppercase;
				line-height: 0.8;
				font-family: 'Igor Rounded', sans-serif;
			}
			.text-left-aligned{
				text-align:left;
			}
			.text-blue{
				color:rgb(51,51,255);
			}
			/*button style*/
			.submit-button {
				-webkit-appearance: button;
    			-moz-appearance: button;
    			appearance: button;
   				text-decoration: none;
    			color: initial;
    			padding:3px 6px 3px 6px;
			}
			/*hidden anchor*/
/*			.anchor {
				width: 1px;
				height: 1px;
				top: 100px;
				color:red;
				left: 0;
			}*/